[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.910"
pylint = "==2.11.1"
black = "==21.9b0"
flake8 = "==4.0.1"
isort = "==5.9.3"

[packages]
requests = "==2.26.0"
gitpython = "==3.1.24"
python-gnupg = "==0.4.7"
loguru = "==0.5.3"
python-dotenv = "==0.19.1"

[requires]
python_version = "3.7"
